<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        Comissões
    </a>

   <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/loja">Lojas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cliente/">Clientes</a>
        </li>
    </ul>
    
</nav>